/* start header  */
header {
    height: 60px;
    align-items: center;
    position: sticky;
    top: -2px;
    left: 0;
    z-index: 110;
    background-color: black;


}

@media (max-width:767px) {
    header {
        height: 100px;
    }
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}

header .logo {
    text-transform: uppercase;
    font-size: 10px;
}

header .logo h2 a {
    color: white;
}

header .logo span {
    color: #D36B00;
}

header .button {
    display: none;
}

header .button:hover .nav {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    
}

header .nav ul {
    display: flex;
    list-style-type: none;

}

.link {
    text-decoration: none;
}

header .nav ul li {
    padding: 10px;
    margin-right: 10px;
    
}

header .nav ul li a {
    color: white;
}

header .nav ul li {
    position: relative;
    transition: 0.5s;
    border-radius: 15px;
}

header .nav ul li:hover {
    background-color: #D36B00;

}

p {
    letter-spacing: 3;
}


@media (max-width:767px) {
    header .container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        height: 100px;
        font-size: 14px;
    }

    header .logo {
        margin-bottom: 5px;
        flex-basis: 100%;
        text-align: center;
    }

    header .nav ul li {
        padding: 5px;
        margin-right: 5px;
    }
}

@media (orientation : landscape) and (max-width: 991px) {
    header .container {
        padding: 5px;
        height: 70px;
        font-size: 14px;
    }

    header {
        height: 75px;
    }
}

/* end header  *